
        a:link{
            color: red;
        }
        a:visited{
            color:green;
        }
        a:active{
            color: black;
        }
        a:hover{
            color:yellow ;
        }
